.user_dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(131, 131, 176, 0.75);
  z-index: 998;
  flex-direction: column;
  align-content: center;
}

.user_dialog  dialog {
  opacity: 1.0;
  z-index: 999;
  position: relative;
  border-radius: 10px;
}