.ArrowGrid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  justify-items: center;
}

.ArrowGrid > svg {
  width: 32px;
  height: 32px;
}

.ArrowGrid > svg:hover {
  background-color: gray;
  box-shadow: 0px 0px 5px 5px lightgray;
  cursor: pointer;
}

.r1c2 {
  grid-row: 1;
  grid-column: 2;
}

.r2c1 {
  grid-row: 2;
  grid-column: 1;
}

.r2c3 {
  grid-row: 2;
  grid-column: 3;
}

.r3c2 {
  grid-row: 3;
  grid-column: 2;
}