header, footer {
  background-color: #b2b2cf;
  margin: 0;
}

header {
  height: 5vh;
  border-bottom: 1px solid gray;
  text-align: center;
}

footer {
  height: 5vh;
  text-align: center;
  border-top: 1px solid gray;
}

main {
  flex-grow:1;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

#root {
  height: 100%;
  width: 100%;
}

.user_dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(131, 131, 176, 0.75);
  z-index: 990;
  flex-direction: column;
  align-content: center;
}

.user_dialog  dialog {
  opacity: 1.0;
  z-index: 999;
  position: relative;
  border-radius: 10px;
}

header button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: rgb(255, 255, 255);
}